<link rel="stylesheet" href="http://localhost:3000/css/index-homepg.css">
<body>
    <div class="container">
        <div class="content">
            <div class="square twitch" style="margin-bottom: 50px;">
                <span class="one" ></span>
                <span class="two"></span>
                <span class="three"></span>
                <div class="circle">
                    <h2 class="DrugRadar"> Welcome!
               
                    </h2>
                    <p>First site for keep your contacts</p>
                </div>
            </div>

            <a href="http://localhost:3000/dashboard" class="button" target="_parent">
                    <span class="actual-text">&nbsp;Dashboard&nbsp;</span>
                    <span class="hover-text" aria-hidden="true">&nbsp;Dashboard&nbsp;</span>
            </a>
        </div>
    </div>
</body>