* {
    margin: 0;
    padding: 0;
  }
  
  .table-wrap {
    height: 900px;
    margin: 80px auto;
    overflow-x: auto;
  }
  
  table, td, th {
  /*   border: 1px solid #ddd; */
    text-align: left;
    font-size:18px;
    text-transform:capitalize;
  }
  
  table thead tr{
    background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
      color: #fff;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
     border-radius: 16px 16px 16px 16px;
    overflow: hidden;
  }
  
  table tbody tr td{
   border: 1px solid #fc83bb;
  }
  
  th, td {
    padding: 15px;
    white-space: nowrap;
  }
  
  table tbody tr:nth-child(odd) {
   background: #be85a559;
    color: #000;
    font-weight: 500;
  }
  
  .box-wrap {
    padding: 0px 16px;
  }
  
  table tbody tr td::last-child{
  background-color:red;
  }

  form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

/* --------------------------------------- */

/* html {
  height: 100%;
  width: 100%;
  background-color: #2e696d;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
} */

.button-container {  
  height: 45px;
  width: 90px;
  display: inherit;
  justify-content: space-around;
  position: relative;
}

.button {
  width: 90px;
  cursor: pointer;
  border-radius: 5px;
  transition: .3s all;
  color: #000000;
  font-size: 1.1rem;
  text-shadow: .1rem .1rem .3rem #555151;
  box-shadow: .25rem .25rem .3rem #555151;
  pointer-events: auto;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 4px;
}

.accept-button {
  background-color: #0076f5;
}

.accept-button:hover {
  background-color: #2311e9;
}

.cancel-button {
  background-color: #de0a97;
}

.cancel-button:hover {
  background-color: #e6070efe
}

/* .popup {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 200px;
  position: absolute;
  background: #d1b8b8;
  border-radius: 12px;
  transition: right .75s ease-in-out;
  right: 0;
  border: solid 4px #3c34046e;
  font-size: 1.2rem;
  color: #262323;
  
} */

/* .accept-popup {
  top: 10%;
}

.cancel-popup {
  top: 80%;
}

.hidden {
  right: -230px;
} */


.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
  